@import "~@/shared.styl"

.sidebar-chats
  width $sidebar-width
  overflow hidden

.chats-section
  padding 20px 10px 5px
  color $color-red-text

.chat
  $chat-height = 28px
  display flex
  height $chat-height
  font-sans($font-size-normal)
  padding 3px 10px
  color $color-gray-text-light
  align-items center
  cursor pointer

  &.unread
    color #fff
    font-sans($font-size-normal, $font-weight-sans-bold)

    .chat-unread
      display block

  &:hover
    background rgba(255, 255, 255, 0.05)

    &.recentChat:not(.unread)
      .chat-unread
        display none

      .chat-removerecent
        display block

  &.active
    background $color-blue
    color #fff

  .chat-title
    flex 1

  .chat-removerecent
    display none
    align-self center
    padding 0 10px 0
    margin-right -4px

    &:hover
      background rgba(255,255,255,0.1)

    .fa
      font-size 12px
      color #fff
      opacity 0.5
      line-height $chat-height

  .chat-flagged
    font-size 13px
    color alpha($color-blue, 0.5)
    margin-left 5px

  .chat-unread
    display none
    background rgba(0, 0, 0, 0.25)
    color #fff
    padding 0 6px
    margin-left 8px
    border-radius $border-radius
    font-sans($font-size-small, $font-weight-sans-bold)
    line-height 1.55
    height 20px
    align-self center

    &.important
      background alpha($color-red, 0.35)

      &.atme
        background $color-red

  &.active
    .chat-unread,
    .chat-unread.atme
      background rgba(0, 0, 0, 0.2)
