@import url('https://rsms.me/inter/inter.css')

#app b,
#app strong
  font-weight $font-weight-sans-bold

a:hover
  color #3273dc
  text-decoration underline

.label
  font-sans($font-size-normal, $font-weight-sans-bold)
  color $color-text

  &:not(:last-child)
    margin-bottom 4px

  .description
    font-sans($font-size-small)
    color $color-gray-text

.text-muted
  color $color-gray-text

.text-error
  color $color-red-error

b.text-small
  font-sans($font-size-small, $font-weight-sans-bold)

.note-content, .ProseMirror
  font-sans($font-size-normal)

  h1, h2, h3
    margin-bottom 10px

  h1
    font-sans($font-size-large-2, $font-weight-sans-bold)

  h2
    font-sans($font-size-large-1, $font-weight-sans-bold)

  h3
    font-sans($font-size-medium-2, $font-weight-sans-bold)

  p
    font-sans($font-size-normal)

  p:not(:last-child)
    margin-bottom 0.5em

  img
    vertical-align middle
    max-width 100%
    &.ProseMirror-selectednode
      box-shadow 0 0 0 3px alpha($color-blue, 0.8)

  pre, code
    font-sans($font-size-small)
    background  $color-light-blue-background
    border-radius $border-radius
    line-height 1.1

  pre
    margin 10px 0
    padding 10px

  blockquote
    padding 5px 20px 5px 10px
    border-left 4px solid rgba(0,0,0,0.15)
    margin 8px 0
    font-style italic

  ul, ol
    list-style initial !important
    margin-bottom 20px !important
    margin-left 17px !important
    padding 0 !important

  ol
    list-style decimal !important

  table
    border-collapse collapse
    width 100%
    background alpha(white, 0.7)
    //table-layout fixed

    td, th
      padding 4px 8px
      border 1px solid $color-gray-border

      &,
      p
        max-width 100%
        overflow hidden
        text-overflow ellipsis

    th
      background $color-light-blue-background
      border-color darken($color-light-blue-background, 5)

    .selectedCell
      background #f2f2f2

  hr
    margin 10px 0
    background $color-gray-border

  .ProseMirror-gapcursor
    display: none;
    pointer-events: none;
    position: absolute;

  .ProseMirror-gapcursor:after
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    width: 30px;
    border-top: 2px solid alpha(#000, 0.5);
    animation: ProseMirror-cursor-blink 0.9s steps(2, start) infinite

@keyframes ProseMirror-cursor-blink
  to
    visibility hidden

.ProseMirror-focused .ProseMirror-gapcursor
  display block
