input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  -webkit-appearance none

.avatar
  border-radius 100px
  width 42px
  height 56px

  &.avatar-small
    width 30px
    height 40px

  &.placeholder
    background alpha(#000, 0.05)

.user-with-name
  display flex
  align-items center
  overflow hidden

  .avatar-container
    min-width 40px

  .avatar
    margin-right 10px
    flex 0 0 auto

  .text
    overflow hidden
    flex 1 1 auto

  .name
    font-sans($font-size-medium-1, $font-weight-sans-bold)
    line-height 24px

  .button
    background transparent
    border-color transparent
    margin-left 10px
    color alpha(#000, 0.5)

    &:hover
      background alpha(#000, 0.05)

.loading-dots:after
  content "..."
  animation loadingDots 0.5s infinite alternate

@keyframes loadingDots
  0%
    content ""
  25%
    content "."
  50%
    content ".."
  75%
    content "..."

@keyframes dotJump
  0%
    transform translateY(0)
    opacity 1
  15%
    transform translateY(-5px)
  30%
    transform translateY(0)
    opacity 1
  70%
    opacity .7

.expand-button
  $button-size = 34px
  margin 1px
  width $button-size
  height $button-size
  border 1px solid $color-gray-border
  background none
  outline none
  border-radius ($button-size / 2)
  vertical-align middle
  position relative
  cursor pointer

  @media all and (hover)
    &:hover
      background $color-light-gray-background

    &:focus
      box-shadow 0 0 0 0.125em rgba(50,115,220,.25)
      border-color #3273dc


  &:before,
  &:after
    transition all 0.12s
    content ""
    width 2px
    height 16px
    background $color-gray-text
    position absolute

  &:before
    left ($button-size / 2) - 2
    top ($button-size / 2) - 8.5
    transform rotate(90deg)

  &:after
    left ($button-size / 2) - 2
    top ($button-size / 2) - 8.5

  &.expanded
    &:before
      transform rotate(45deg)
    &:after
        transform rotate(-45deg)

.workspace
  display flex
  align-items center
  margin-top -10px
  margin-bottom 25px

  .text
    flex 1
    padding-right 10px
    min-width 0

    .name,
    .desc
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    .name
      font-sans($font-size-medium-1, $font-weight-sans-bold)
      margin-top -5px

    .desc
      text-uppercase-small()
      color $color-gray-text
      margin-bottom -4px

  .logo
    width 42px
    height @width
    border-radius $border-radius

p.disabled
  opacity .6
  pointer-events none
  cursor disabled
  color $color-gray-text-light

  *
    color $color-gray-text-light

.message-at
  background rgba(255, 31, 75, 0.05)
  color #c15d71

.button
  user-select none

  &.transparent-white
    background none
    border 1px solid transparent
    color #fff

    &:focus,
    &:hover
      background alpha(#fff, .1)

.buttons.align-right
  justify-content flex-end

.button-reset
  display block
  border none
  margin 0
  padding 0
  user-select none
  cursor pointer
  font inherit
  line-height inherit
  text-decoration inherit
  text-transform inherit
  color inherit
  letter-spacing inherit
  width 100%
  text-align inherit
  background transparent
  -webkit-appearance none