input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
  -webkit-appearance none

.avatar
  border-radius 100px
  width 42px
  height 56px

  &.avatar-small
    width 30px
    height 40px

  &.placeholder
    background alpha(#000, 0.05)

.user-with-name
  display flex
  align-items center
  overflow hidden

  .avatar-container
    min-width 40px

  .avatar
    margin-right 10px
    flex 0 0 auto

  .text
    overflow hidden
    flex 1 1 auto

  .name
    font-sans($font-size-medium-1, $font-weight-sans-bold)
    line-height 24px

.loading-dots:after
  content "..."
  animation loadingDots 0.5s infinite alternate

@keyframes loadingDots
  0%
    content ""
  25%
    content "."
  50%
    content ".."
  75%
    content "..."

@keyframes dotJump
  0%
    transform translateY(0)
    opacity 1
  15%
    transform translateY(-5px)
  30%
    transform translateY(0)
    opacity 1
  70%
    opacity .7

.workspace
  display flex
  align-items center
  margin-top -10px
  margin-bottom 25px

  .text
    flex 1
    padding-right 10px
    min-width 0

    .name,
    .desc
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    .name
      font-sans($font-size-medium-1, $font-weight-sans-bold)
      margin-top -5px

    .desc
      text-uppercase-small()
      color $color-gray-text
      margin-bottom -4px

  .logo
    width 42px
    height @width
    border-radius $border-radius

p.disabled
  opacity .6
  pointer-events none
  cursor disabled
  color $color-gray-text-light

  *
    color $color-gray-text-light

.message-at
  background rgba(255, 31, 75, 0.05)
  color #c15d71

$_buttons_margin = 10px

.buttons
  margin-right -($_buttons_margin)
  margin-bottom -($_buttons_margin)

  &.align-right
    text-align right

  .r-button
    margin-right $_buttons_margin
    margin-bottom $_buttons_margin

.buttons-grouped
  margin-right -($_buttons_margin)
  margin-bottom -($_buttons_margin)

  .button-group
    display inline-block
    margin-right $_buttons_margin
    margin-bottom $_buttons_margin

    .r-button + .r-button
      border-top-left-radius 0
      border-bottom-left-radius 0
      border-left none

    .r-button:not(:last-child)
      border-top-right-radius 0
      border-bottom-right-radius 0

.button-reset
  display block
  border none
  margin 0
  padding 0
  user-select none
  cursor pointer
  font inherit
  line-height inherit
  text-decoration inherit
  text-transform inherit
  color inherit
  letter-spacing inherit
  width 100%
  text-align inherit
  background transparent
  -webkit-appearance none

.r-button
  max-width 100%

#app .r-button.gray
  background #e9eaf0

#app .darkMode .r-button.gray
  background alpha(#fff, 0.1)

.counter
  display inline-block
  background rgba(0, 0, 0, 0.25)
  color #fff
  padding 0 6px
  margin-left 5px
  border-radius $border-radius
  font-sans($font-size-small, $font-weight-sans-bold)
  line-height 1.55
  height 20px
  align-self center

#app hr
  background $color-light-border
