#fixAnchor
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index -1000
  visibility hidden

[v-cloak]
  display none

.clickable
  cursor pointer

.ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.flex
  display flex
  flex-direction row

.nowrap
  white-space nowrap
