#fixAnchor
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index -1000
  visibility hidden

[v-cloak]
  display none

.clickable
  cursor pointer
  user-select none

.ellipsis
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.flex
  display flex
  flex-direction row
.flex0
  flex 0 0 auto
.flex1
  flex 1 1 auto
.flex2
  flex 2 2 auto

.space-top-tiny
  margin-top 5px

.space-top-small
  margin-top 10px

.space-top-medium
  margin-top 20px

.space-top-large
  margin-top 40px