@import "~@/shared.styl"

@keyframes highlight-soft
  0%
    background alpha($color-gold, 0.2)
  20%
    background alpha($color-gold, 0.2)
  100%
    background alpha($color-gold, 0.05)

.chat-message
  padding 5px 20px
  display flex
  position relative

  &.message-shadow
    .text-content,
    .note-content
      opacity 0.4

  &.message-unread
    background alpha($color-unread-background, 0.1)

  &:hover,
  &:focus-within
    background alpha($color-light-blue-background, 0.6)

    .reply-original
      background  $color-light-blue-background

    &.message-unread
      background blend(alpha($color-unread-background, 0.25), alpha($color-light-blue-background, 0.25))
      background alpha($color-light-blue-background, 0.6)

  &.message-saved
    background alpha(#409df1, 0.05)

    &:hover
      background alpha(#409df1, 0.08)

  &.message-highlight
    box-shadow 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 5px 13px rgba(0, 0, 0, 0.1), 0 0 0 4000px rgba(68, 85, 114, 0.2)
    margin 0 13px
    padding 5px 7px
    border-radius $border-radius
    background #fff !important
    z-index 10

  &.message-softhighlight
    animation highlight-soft 5s

  &:not(.message-edit)
    .buttons-container .field
      opacity 0

    .content-container
      overflow hidden

  &.message-error
    background alpha($color-red, 0.05)

    &:hover,
    &:focus-within
      background alpha($color-red, 0.08)

  &:hover,
  &:focus-within
    .buttons-container
      display block

      .field
        opacity 1

  .buttons-container
    margin-top -3px
    margin-bottom -3px
    margin-left 10px
    display block // @stylint ignore

    @media (max-width $buttons-switch-to-mobile)
      top -29px
      right 15px
      position absolute
      z-index 10
      display none // @stylint ignore
      box-shadow 0 2px 4px -2px rgba(0,0,0,0.2)

      .button.is-small
        font-size 16px

    .field
      @media (min-width $buttons-switch-to-mobile+1px)
        position sticky
        top 20px
        margin-top 10px
        margin-bottom 10px

      .button span:not(.icon)
        color $color-text

  .editor
    margin 5px 0 10px

  .edit-buttons
    margin-bottom 5px

  &.message-edit .buttons-container
    display none

  .avatar-container
    min-width 45px
    max-width 45px
    padding-top 4px

    .sticky-avatar
      height calc(100% - 10px)

    .avatar
      position sticky
      top 10px
      margin-bottom -4px

    .date
      display none
      margin-top -1px
      margin-bottom -3px
      color #aaa
      line-height 1.2

    .saved-icon
      display none
      font-size 12px
      margin-left 25px

  .content-container
    width 100%
    min-width 0
    /deep/ .message-at
      background rgba(255, 31, 75, 0.05)
      color #c15d71

  .name, .date
    display inline-block
    text-regular-13()

  .name
    text-bold-13()
    margin-right 5px

    .saved-icon
      margin-left 3px
      font-size 12px

  .date
    color $color-gray-text

  &.event p
    color $color-gray-text
    font-style italic

  &.noauthor
    &:hover,
    &:focus-within
      .avatar-container
        .date
          display block

        .saved-icon
          display none

    .sticky-avatar,
    .content-container > .name,
    .content-container > .date
      display none

    .avatar-container .saved-icon
      display block

    .buttons-container .field
      @media (min-width $buttons-switch-to-mobile+1px)
        margin-top 0
        margin-bottom 0

  .unread-separator + &.noauthor
    &:hover .avatar-container .date
      display none

    .sticky-avatar,
    .content-container > .name,
    .content-container > .date
      display inline-block

  .reply-original
    padding 5px 20px 5px 10px
    background alpha($color-light-blue-background, 0.6)
    border-left 4px solid #71aee3
    margin 0 0 4px

    .name, .date
      text-regular-13()

    p
      margin-top -2px
      margin-bottom 2px

  .file-preview
    display inline-block
    vertical-align top
    margin 3px 0
    background  $color-light-blue-background
    border-radius $border-radius
    overflow hidden
    max-width $message-item-max-width

    &:hover,
    &:focus
      background darken($color-light-blue-background, 1)

    &:focus
      outline none

      .file-title
        text-decoration underline

    .file-title
      padding 5px 10px

    .image-preview
      padding 0 10px 10px

      img
        display block
        max-height 280px

  .email-meta
    color $color-gray-text
    margin-bottom 5px

    b
      font-weight 600
      color #4a4a4a

  .email-plane
    border-top 2px solid #3e617d
    border-bottom 2px solid #3e617d
    margin-bottom 20px
    padding 8px 0 10px

  .email-plain
    border 1px solid #ddd
    padding 10px
    border-radius 4px
    max-width 700px
    margin-bottom 10px
    background #fff

  .email-frame
    width 100%
    max-height 300px
    display block
    box-shadow inset 0 1px 3px 0 rgba(0, 0, 0, 0.1)
    background #fff

  .email-frame-container
    max-width 700px
    position relative
    cursor pointer
    border 1px solid #eee
    border-radius 4px
