/*
Use file watcher, compile to /assets/main.css

Arguments: $FileName$ --out assets
Pattern: file:src/main.styl||file[rflows]:src/style/*.styl||file:src/shared.styl
*/
#fixAnchor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1000;
  visibility: hidden;
}
[v-cloak] {
  display: none;
}
.clickable {
  cursor: pointer;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex {
  display: flex;
  flex-direction: row;
}
.flex .flex0 {
  flex: 0 0 auto;
}
.flex .flex1 {
  flex: 1 1 auto;
}
.flex .flex2 {
  flex: 2 2 auto;
}
html,
body {
  overflow: hidden;
}
.scrollbar-style::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-style::-webkit-scrollbar-track {
  background-color: #dfdfdf;
  border-radius: 0;
}
.scrollbar-style::-webkit-scrollbar-thumb {
  border-radius: 4px;
  min-height: 40px;
  background: rgba(0,0,0,0.2);
}
.scrollbar-style::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.15);
}
.tooltip {
  display: block !important;
  z-index: 10000;
  font-size: 13px;
  letter-spacing: 0.004em;
  line-height: 18px;
  font-weight: 400;
}
.tooltip .tooltip-inner {
  background: rgba(0,0,0,0.9);
  color: #fff;
  border-radius: 4px;
  padding: 3px 10px 4px;
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: rgba(0,0,0,0.9);
  z-index: 1;
}
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"] {
  margin-left: 5px;
}
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
@import url("https://rsms.me/inter/inter.css");
body,
.button,
.input {
  font-family: 'Inter', BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a:hover {
  color: #3273dc;
  text-decoration: underline;
}
.text-muted {
  color: #777;
}
.text-error {
  color: #c15d71;
}
.text-small {
  font-size: 13px;
  letter-spacing: 0.004em;
  line-height: 18px;
  font-weight: 400;
}
b.text-small {
  font-size: 13px;
  letter-spacing: 0.004em;
  line-height: 18px;
  font-weight: 600;
}
.label {
  font-size: 16px;
  letter-spacing: -0.005em;
  line-height: 22px;
  font-weight: 600;
  color: #4a4a4a;
}
.label:not(:last-child) {
  margin-bottom: 4px;
}
.label .description {
  font-size: 13px;
  letter-spacing: 0.004em;
  line-height: 18px;
  font-weight: 400;
  color: #777;
}
h3 {
  font-size: 24px;
  letter-spacing: -0.014em;
  line-height: 34px;
  font-weight: 600;
}
h4 {
  font-size: 13px;
  letter-spacing: 0.004em;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
p:not(:last-child) {
  font-size: 16px;
  letter-spacing: -0.005em;
  line-height: 22px;
  font-weight: 400;
}
.note-content,
.ProseMirror {
  font-size: 16px;
  letter-spacing: -0.005em;
  line-height: 22px;
  font-weight: 400;
}
.note-content h1,
.ProseMirror h1,
.note-content h2,
.ProseMirror h2,
.note-content h3,
.ProseMirror h3 {
  margin-bottom: 10px;
}
.note-content h1,
.ProseMirror h1 {
  font-size: 40px;
  letter-spacing: -0.017em;
  line-height: 56px;
  font-weight: 600;
  line-height: 46px;
}
.note-content h2,
.ProseMirror h2 {
  font-size: 30px;
  letter-spacing: -0.016em;
  line-height: 42px;
  font-weight: 600;
  line-height: 38px;
}
.note-content h3,
.ProseMirror h3 {
  font-size: 24px;
  letter-spacing: -0.014em;
  line-height: 34px;
  font-weight: 600;
}
.note-content p:not(:last-child),
.ProseMirror p:not(:last-child) {
  font-size: 16px;
  letter-spacing: -0.005em;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.note-content img,
.ProseMirror img {
  vertical-align: middle;
  max-width: 100%;
}
.note-content img.ProseMirror-selectednode,
.ProseMirror img.ProseMirror-selectednode {
  box-shadow: 0 0 0 3px rgba(53,106,156,0.8);
}
.note-content pre,
.ProseMirror pre,
.note-content code,
.ProseMirror code {
  font-size: 13px;
  letter-spacing: 0.004em;
  line-height: 18px;
  font-weight: 400;
  background: #eef0ff;
  border-radius: 4px;
  line-height: 1.1;
}
.note-content pre,
.ProseMirror pre {
  margin: 10px 0;
  padding: 10px;
}
.note-content blockquote,
.ProseMirror blockquote {
  padding: 5px 20px 5px 10px;
  border-left: 4px solid rgba(0,0,0,0.15);
  margin: 8px 0;
  font-style: italic;
}
.note-content ul,
.ProseMirror ul,
.note-content ol,
.ProseMirror ol {
  list-style: initial !important;
  margin-bottom: 20px !important;
  margin-left: 17px !important;
  padding: 0 !important;
}
.note-content ol,
.ProseMirror ol {
  list-style: decimal !important;
}
.note-content table,
.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.note-content table td,
.ProseMirror table td,
.note-content table th,
.ProseMirror table th {
  padding: 4px 8px;
  border: 1px solid #ddd;
}
.note-content table th,
.ProseMirror table th {
  background: #eef0ff;
  border-color: #8896ff;
}
.note-content table .selectedCell,
.ProseMirror table .selectedCell {
  background: #f2f2f2;
}
.note-content .ProseMirror-gapcursor,
.ProseMirror .ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}
.note-content .ProseMirror-gapcursor:after,
.ProseMirror .ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 30px;
  border-top: 2px solid rgba(0,0,0,0.5);
  animation: ProseMirror-cursor-blink 0.9s steps(2, start) infinite;
}
.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}
@-moz-keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
@-o-keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
img.avatar {
  border-radius: 100px;
  width: 42px;
  height: 56px;
}
img.avatar.avatar-small {
  width: 30px;
  height: 40px;
}
.user-with-name {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.user-with-name .avatar {
  margin-right: 10px;
}
.user-with-name .text {
  overflow: hidden;
}
.user-with-name .name {
  font-size: 20px;
  letter-spacing: -0.011em;
  line-height: 28px;
  font-weight: 600;
  line-height: 24px;
}
.user-with-name .button {
  background: transparent;
  border-color: transparent;
  align-self: flex-start;
  margin-top: 4px;
  margin-left: 10px;
  color: rgba(0,0,0,0.5);
}
.user-with-name .button:hover {
  background: rgba(0,0,0,0.05);
}
.loading-dots:after {
  content: "...";
  animation: loadingDots 0.5s infinite alternate;
}
@-moz-keyframes loadingDots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
@-webkit-keyframes loadingDots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
@-o-keyframes loadingDots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
@keyframes loadingDots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
