/*
Use file watcher, compile to /assets/main.css

IntelliJ conf:
  Arguments: $FileName$ --out assets
  Pattern: file:src/main.styl||file:src/shared.styl||file:src/style/*.styl
*/

@import "shared.styl"
@import "style/utils.styl"

html, body
  overflow hidden

@import "style/scrollbar.styl"
@import "style/tooltip.styl"
@import "style/typo.styl"
@import "style/ui.styl"
