/*
COLORS
 */

$color-blue = #356a9c
$color-light-blue = #209cee
$color-focus-blue = #0d7cc8

$color-red = #e24161
$color-red-text = #c15d71
$color-red-error = #cc2b30

$color-yellow = #ffdd57
$color-gold = #eebc41

$color-gray-text-light = #aaa
$color-gray-text = #777
$color-text = #4a4a4a

$color-light-gray-background = #f9f9fa
$color-light-blue-background = #eef0ff
//$color-sidebar-background = #1d2a35
$color-sidebar-background = #12232d
//$color-sidebar-background = #0e2335
$color-unread-background = saturate(darken($color-gold, 10), 20)

$color-gray-border = #ddd
$color-light-border = #f1f1f1


/*
UI
 */

$border-radius = 4px
$sidebar-width = 260px
$message-item-max-width = 700px

$buttons-switch-to-mobile = 1300px
$media-mobile-width = 700px

/*
TYPOGRAPHY
 */

$line-height-base = 1.5

$font-sans = "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

$font-weight-sans-regular = 400
$font-weight-sans-bold = 500
$font-weight-sans-black = 900

$font-size-small = 13px
$font-size-normal = 16px
$font-size-medium-1 = 20px
$font-size-medium-2 = 25px
$font-size-large-1 = 31px
$font-size-large-2 = 39px
$font-size-large-3 = 48px

tracking(fontSize)
  letter-spacing round(-0.017+(0.202*(2.71828**(-0.175*fontSize))), 3)em

lineHeightRounded(fontSize, lineHeight)
  line-height round(lineHeight*fontSize)px

leading(fontSize)
  lineHeightRounded(fontSize, $line-height-base - (fontSize - $font-size-normal) * .01)

font-sans(size, weight=400)
  font-size size*1px
  tracking(size)
  leading(size)
  font-weight weight

text-uppercase-small()
  font-sans($font-size-small, $font-weight-sans-bold)
  text-transform uppercase
  letter-spacing 0.08em
